.assessment-header{
  background: #FCFAFA;
  height: 72px;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  text-align: center;
}

.images-logo{
  margin: 18px 0px 18px 120px;
  display: flex;
  width: 112px;
  align-items: center;
}

.logo2{
  margin-left: 10px;
}
