body,
html {
    overflow-x: hidden;
}

.clock-container {
  position: relative;
  bottom: 47px;
  text-align: center;
} 

.cercle1 {
  background: conic-gradient(#EBE9E6 0deg 300deg, #E68086 300deg 360deg);
  width: 142px;
  height: 142px;
  border-radius: 50%;
  /* border: 1px solid rgba(0, 0, 0, 0.25); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  fill: var(--Light-c, #EBE9E6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cercle2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--Light-c, #EBE9E6);
}

.sec-min{
  display: flex;
  justify-content: center;
  align-items: center;
  width:120px;
  height: 120px;
  flex-direction: column;
}

.second {
  color: #E68086;
  font-family: "Inter";
  font-size: 23px;
  font-weight: 600;
}

.time {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}

.min-sec {
  word-spacing: 10px;
}

@media screen and (max-width: 768px) {
.clock-container{
  height: 101px;
  width: 101px;
}
.cercle1 {
  width: 100px;
  height: 100px;
}

.cercle2 {
  width: 80px;
  height: 80px;
}

.sec-min{
  width: 80px;
  height: 80px;
}

.second{
  font-size: 18px;
  height: 24px;
}

.min-sec{
  font-size: 12px;
  height: 24px;
}

.time {
  display: none;
}

}

.modal-content {
    display: none;
}

.open-modal-button {
    display: none;
}

.modal-toggle {
    display: none;
}

