.clock-box {
    margin-top:-36px;
    margin-left: 392px;
    width: 152px;
    height: 180px;
}

.cercle1 {
    width: 142px;
    height: 142px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #EBE9E6;
}

.cercle2 {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    position: relative;
    margin-top: -130px;
    margin-left: 10px;
    
}

.second {
    color: #E68086;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 35px 20px;
}

.time {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.min-sec{
    margin-left: 25px;
    margin-top: -26px;
    word-spacing: 10px; 
}

@media screen and (max-width: 768px) {
.clock-box {
    margin-top: 115px;
    margin-left: 20px;
    width: 152px;
    height: 180px;
}

.cercle1 {
    width: 142px;
    height: 142px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: #EBE9E6;
}

.cercle2 {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    position: relative;
    margin-top: -130px;
    margin-left: 10px;
    
}

.second {
    color: #E68086;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 35px 20px;
}
}

.pink-circle{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}