.modal-content-modal {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.div-modal {
  border: 1px solid #6d3737;
  margin-top: 10px; 
}

.filter-modal {
  color: #4C4B49;
  font-family: "Inria Sans";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px; 
}

.close-button-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.filter-content-modal {
  padding: 20px;
  text-align: left;
  margin-top: 10px;
}

.assessment-border-modal {
  margin-top: 20px;
  font-weight: bold;
  color: #1F1E1C;
  font-family: "Inria Sans";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.assessment-p-modal{
  color:#1F1E1C;
  font-family: "Inria Sans";
  font-size: 16px;
  font-weight: 400;
  margin-top: 48px; 
  margin-bottom: 16px; 
}

.filter-numbers-modal{
  display: flex;
  gap: 10px;
}

.all-modal{
  display: flex;
  padding: 10px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #4C4B49;
  background:  #4C4B49;
  width: 42px;
}

.numbers-modal{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid  #F4D150;
  background: #FEEEB4;
  color: #1F1E1C;
  font-size: 14px;
  font-weight: 600;
  line-height: 160%;
  width: 42px;
}

.contant-modal{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.all40-modal{
  width: 67px;
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 54px;
  border: 1px solid #4C4B49;
  background: #4C4B49;
}

.un-modal{
  width: 109px;
  display: flex;
  padding: 6px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 54px;
  border: 1px solid  #F4D150;
  background:  #FEEEB4;
  color:  #1F1E1C;
  font-family: "Inria Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 120%; 
}


.attemp-modal{
  display: flex;
  padding: 6px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 54px;
  border:  #F4D150;
  background:  #FEEEB4;
  color:  #1F1E1C;
  font-family: "Inria Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 120%; 
}