body,
html {
    overflow-x: hidden;
}

.box{
  display: flex;
  align-items: center;
  gap: 16px;
}

.prvious{
  fill:  #EBE9E6;
  stroke-width: 1px;
  stroke:  #EBE9E6;
  width: 28px;
  height: 28px;
}

.circle1{
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #4C4B49;
  font-family: "Inria Sans";
  color: white;
  line-height: 26px;
}

.circle{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid  #E0DFDA;
  font-family: "Inria Sans";
  line-height: 26px;
}

.next{
  width: 28px;
  height: 28px;
  fill: #FEEEB4;
  stroke-width: 1px;
  stroke: #F4D150;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle, .previous, .next {
  text-align: center;
}

.box p {
  display: none; 
}


@media (max-width: 567px) {

/* pagination */
.box {
  background-color: white;
  border: 1px solid #0000001A;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
  height: 74px;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  box-sizing: border-box; 
  margin-left: 3px;
}


.pagination-Div {
  height: 74px;
}


.circle {
  display: none;
}

.circle1,
.circle:nth-child(7),
.circle:nth-child(11) {
  display: inline-block;
}


.box p {
  display: inline; 
}

}