.box{
  display: flex;
  align-items: center;
  gap: 16px;
}

.prvious{
  fill:  #EBE9E6;
  stroke-width: 1px;
  stroke:  #EBE9E6;
  width: 28px;
  height: 28px;
}

.circle1{
  display: flex;
  width: 30px;
  padding: 7px 10px 6px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #4C4B49;
  font-family: "Inria Sans";
  color: white;
}

.circle{
  display: flex;
  width: 30px;
  padding: 7px 10px 6px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 2px solid  #E0DFDA;
  font-family: "Inria Sans";
}

.next{
  width: 28px;
  height: 28px;
  fill: #FEEEB4;
  stroke-width: 1px;
  stroke: #F4D150;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle, .previous, .next {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
}

.box p {
  display: none; 
}


@media (max-width: 567px) {
.box {
  background-color: white;
  border: 1px solid #0000001A;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
  height: 74px;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 360px;
  box-sizing: border-box; 
  margin-left: 3px;
  margin-top: 15px;
}


.assessment-header {
  width: 360px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.two-logo {
  width: 320px; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px; 
}

.logo2 {
  margin-right: 0px;
  margin-bottom: -3px; 
}

.images-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pagination-Div {
  width: 360px; 
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.submit-assessment {
  margin-top: 785px;
  margin-left: 187px;
  position: relative;
}

.circle {
  display: none;
}

.circle1,
.circle:nth-child(7),
.circle:nth-child(11) {
  display: inline-block;
}

.previous, .next {
  display: inline-block;
}

.box p {
  display: inline; 
}


/* pagination */
.box {
  background-color: white;
  border: 1px solid #0000001A;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.10);
  height: 74px;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 360px;
  box-sizing: border-box; 
  margin-left: 3px;
  margin-top: 15px;
}


.assessment-header {
  width: 360px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.two-logo {
  width: 320px; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px; 
}

.logo2 {
  margin-right: 0px;
  margin-bottom: -3px; 
}

.images-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pagination-Div {
  width: 360px; 
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.submit-assessment {
  margin-top: 823px;
  margin-left: 187px;
  position: relative;
}

.circle {
  display: none;
}

.circle1,
.circle:nth-child(7),
.circle:nth-child(11) {
  display: inline-block;
}

.previous, .next {
  display: inline-block;
}

.box p {
  display: inline; 
}

}