.box{
  display: flex;
  align-items: center;
  gap: 16px;
  /* margin-left: 560px; */
  /* margin-left: 324px; */
}

.prvious{
  fill:  #EBE9E6;
  stroke-width: 1px;
  stroke:  #EBE9E6;
  width: 28px;
  height: 28px;
}

.circle1{
  display: flex;
  width: 30px;
  padding: 7px 10px 6px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #4C4B49;
  font-family: "Inria Sans";
  color: white;
}

.circle{
  display: flex;
  width: 30px;
  padding: 7px 10px 6px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  border: 2px solid  #E0DFDA;
  font-family: "Inria Sans";
}

.next{
  width: 28px;
  height: 28px;
  fill: #FEEEB4;
  stroke-width: 1px;
  stroke: #F4D150;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle, .previous, .next {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
}

.box p {
  display: none; 
}