body,
html {
    overflow-x: hidden;
}

.base{
  width: 625px;
  height: 165px;
  border-radius: 12px;
  border: 1px solid  #8F887C;
  background:  #4C4B49;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.base1{
  justify-content: space-between;
  display: flex;
  width: 542px;
}

.h1-score{
  color: #EBE9E6;
  align-content: center;
}

.div-for-score{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Unattempted{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #EBE9E6;
}

.hrs{
  width: 55px;
  transform: rotate(90deg);
}

.image-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #EBE9E6;
}


/* page4 Scores*/
@media(max-width: 567px){
.base{
  width: 360px;
  height: 218px;
}

.base1{
  flex-direction: column;
  width: 320px;
}

.h1-score{
  color: #EBE9E6;
  width: 84px;
  font-size: 14px;
  margin: auto;
}


.div-for-score{
  width:50px;
  margin: auto;
  gap: 20px;
}

.image-text{
  text-align: center;
}
.hr-line{
  width: 320px;
  height: 2px;
}

.Unattempted{
  text-align: center;
}
.hrs{
  display: none;
}

.questions-set{
  width: 320px;
  margin: auto;
}

}