* {
  margin: 0px;
}

body {
  background:  #EBE9E6;
}

/* header css */
.border-header {
  background-color: white;
  height: 72px;
  justify-content: space-between;
  display: flex;
}

.LogoGrp {
  width: 56px;
  height: 36px;
  padding: 18px 0px 18px 0px;
  margin-left: 117px;

}

.Logo {
  margin-left: 5px;
  padding: 18px 0px 18px 0px;
  font-size: 28.736px;
  font-weight: 700;
  margin-bottom: 5px;

}

.header{
  display: flex;
  padding: 29px 115px 22px 0px;
}

.start-test{
  color: #4C4B49;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  text-decoration:none;
}

.score{
  color:  #4C4B49;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
  text-decoration:none;
}


/* portal */
.border{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 368px 143px 367px;
}

.portal{
  color:  #4C4B49;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 55px 0px 19px 0px;
  
}

.portal-border{
  background:  #F9F7F2;
  /* border: 1px solid red; */
  width: 705px;
  height: 620px;
}

.Instructions{
  color:  #4C4B49;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  /* border: 1px solid red; */
  margin: 40px 116px 10px 117px;
  width: 471px;
  height: 22px;
}

.read-instructions{
  color:  #4C4B49;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  /* border: 1px solid red; */
  margin: 16px 116px 10px 117px;
  width: 471px;
  height: 21px;
}

.li-ul{
  color:  #4C4B49;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  /* border: 1px solid red; */
  margin: 8px 116px 10px 117px;
  height: 231px;
  width: 471px;
}


.div-p{
  color: #4C4B49;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  /* border: 1px solid red; */
  margin: 8px 116px 10px 117px;
  height: 42px;
  width: 471px;
}

.let-start{
  color:  #4C4B49;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  /* border: 1px solid red; */
  margin: 8px 116px 10px 117px;
  height: 42px;
  width: 471px;
}

.Good-luck{ 
  color: #4C4B49;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400; 
}

.hr{
  width: 620px;
  height: 1px;
  margin: 40px 42px 0px 43px;
}

.start-button{
  margin: 39px 273px 49px 273px;
  display: inline-flex;
  padding: 16px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color:black;
  border-radius: 4px;
  border: 2px solid  #F4D150;
  background:  #FEEEB4;
  box-shadow: 0px 4px 7px 0px #B3AE9C;
}

/* footer */
.footer{
  display: flex;
  margin: auto;
  height: 171px;
  flex-direction: column;
  align-items: center;
  gap: 57px;
  background:  #4C4B49;
  border: 1px solid #4C4B49;
}

.footer-p{
  margin: 46px 0px 68px 0px;
}

.p-footer{
  color:  #F9F7F2;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  margin-bottom: 18px;
}