.border-header {
  background: #FCFAFA;
  height: 72px;
  margin: 0 auto; 
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}
  
.LogoGrp {
  width: 56px;
}
  
.Logo {
  font-size: 28.736px;
  font-weight: 700;
  margin-bottom: 7px;
  margin-left: 5px;
}

body,
html {
    overflow-x: hidden;
}